html,
body {
  font-family: "Cyrene";
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* @font-face {
  font-family: "Cyrene";
  src: url("./Cyrene.otf") format("truetype");
} */

@font-face {
  font-family: "Cyrene";
  src: url("./Cyrene.otf") format("truetype");
  font-display: swap;
}

/* Keyframe for fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with invisible */
  }
  100% {
    opacity: 1; /* End with fully visible */
  }
}

#play-btn {
  cursor: pointer;
  font-size: 500px;
  color: #4caf50;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 120px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
  opacity: 0.8;
  animation: bounce 3s ease infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.text-container {
  z-index: 100;

  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
  animation: breathing 3s ease-in-out infinite; /* Adjust duration for breathing effect */
}

.buttons {
  z-index: 100;
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 150px;
  left: 0;
  font-size: 90px;
  color: white;
  opacity: 0.4;
}

h6 {
  margin: 40px;
  padding: 20px 40px;
  border-radius: 10px;
}

@keyframes changeColor {
  0% {
    color: whitesmoke; /* Initial color (set to default color or any other) */
  }
  50% {
    color: purple; /* Midpoint: the text color changes to purple */
  }
  100% {
    color: whitesmoke; /* Final color (same as initial) */
  }
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

.text-container,
.text-container2 {
  font-size: 36px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#buttons-container {
  display: none; /* Hide the buttons initially */
  text-align: center;
  margin-top: 20px;
}

button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
}

/* hi charnele */
.text-container {
  font-size: 36px;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text-container.initial {
  font-size: 80px;
}
